In [0]:
import numpy as np
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [7]:
#Read the data
df=pd.read_csv('/content/drive/My Drive/Master_Loan_Summary.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
#visualise the data
df.head()

,loan_number,amount_borrowed,term,borrower_rate,installment,grade,origination_date,listing_title,principal_balance,principal_paid,interest_paid,late_fees_paid,debt_sale_proceeds_received,last_payment_date,next_payment_due_date,days_past_due,loan_status_description,data_source
0,10149342,27050.0,36,0.1099,885.46,B,2013-12-01T00:00,debt_consolidation,0.0,27050.0,4702.53,0.0,0.0,2016-07-01T00:00,2016-08-01T00:00,0,COMPLETED,Lending Club
1,10149488,4800.0,36,0.1099,157.13,B,2013-12-01T00:00,home_improvement,0.0,4800.0,357.52,0.0,0.0,2014-09-01T00:00,2014-10-01T00:00,0,COMPLETED,Lending Club
2,10148122,12000.0,36,0.0762,373.94,A,2013-12-01T00:00,debt_consolidation,0.0,12000.0,1397.54,0.0,0.0,2016-06-01T00:00,2016-07-01T00:00,0,COMPLETED,Lending Club
3,10119623,12000.0,36,0.1199,398.52,B,2013-12-01T00:00,debt_consolidation,0.0,12000.0,2346.48,0.0,0.0,2017-01-01T00:00,2017-02-01T00:00,0,COMPLETED,Lending Club
4,10159498,12000.0,36,0.0662,368.45,A,2013-12-01T00:00,debt_consolidation,0.0,12000.0,1263.95,0.0,0.0,2017-01-01T00:00,2017-02-01T00:00,0,COMPLETED,Lending Club

In [0]:
l=[] #list of borrower rates when #installments<300
g=[] #list of borrower rates when #installments>300
for i in range(len(df)):
  if df.iloc[i]['installment']<300:
    l.append(df.iloc[i]['borrower_rate'])
  else:
    g.append(df.iloc[i]['borrower_rate'])

In [0]:
import math
p1_hat=sum(l)/float(len(l)) #sample mean of borrower rates when #installments<300
p2_hat=sum(g)/float(len(g)) #sample mean of borrower rates when #installments>300
d_hat=p1_hat-p2_hat #difference of the means, delta

In [0]:
se_hat=math.sqrt(np.var(l)/float(len(l))+np.var(g)/float(len(g))) #Standard error

In [21]:
d_not=0.0 #true value of the difference of the means
W=abs((d_hat-d_not)/se_hat) #Calculating wald's statistic
if W>1.96: #Zalpha/2 = 1.96 when alpha=0.05
  print("Reject Hypothesis")
else:
  print("Accept Hypothesis")

Reject Hypothesis

In [22]:
print(W) #printing wald's statistic

22.151713465612907

In [15]:
#printing means
print(p1_hat)
print(p2_hat)

0.1372494042603228
0.13877051520729747

In [23]:
#printing delta and standard error
print(d_hat)
print(se_hat)

-0.0015211109469746575
6.866786848502469e-05

**Summary**:
We need to test whether the hypothesis that "Borrower interest rate is higher for #installments less than 300." is true. For this we perform the following steps:
1. Create two populations of data samples in 2 separate lists. First set l, contains all the borrower rates when #installments<300. Second list g, contains all the borrower rates when #installments>300.
2. Now we need to compare the mean of the 2 populations.
3. We estimate the mean of the two populations, which will be nothing but the sample mean (saw in class).
4. p1_hat denotes the sample mean estimate of the first population(installments <300). p2_hat denotes the sample mean estimate of the second population(installments>300). Then we calculate difference of mean, d_hat as p1_hat - p2_hat
5. The true value of difference, d_not will be 0.0 (both the means should be same)
6.We calculate the standard error as sqrt(var(l)/n + var(g)/m).
7.Then, finally the wald's statistic would be calculated as W=abs((d_hat-d_not)/se_hat). where, d_hat, d_not, and se_hat have been already calculated above.
8. We compare W with Zalpha/2(=1.96 when alpha=0.05) and find that it is greater. Hence we reject the hypothesis that "Borrower interest rate is higher for #installments less than 300".